<!DOCTYPE html>
<html>
  <head>
    <title>DEVWG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1>Home</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= button_to "ボタン", {controller: 'home', action: 'index'}, {method: :get} %>

  </body>
</html>
